[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
pytube = "*"
moviepy = "*"
bs4 = "*"
pyinstaller = "*"
pywin32 = "*"
pillow = "*"
googletrans = "==4.0.0rc1"
icrawler = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
build = "pyinstaller __main__.py -n whatspam --onefile --icon=icon.ico -y"
